@charset "utf-8";
/* CSS Document */

#sidebar-front-secondary .widget-container { float: left; width: 33.33333%; margin: 0;  }
#sidebar-front-secondary .widget-title { border-right: 1px solid #EFEFEF  }
.entry-title  { padding: 8px 0 0 0; }
.entry-title h2 a { font-size: 30px; }
.entry-title span { color: #554f49 }
#branding-overlay  { height: 153px; width:  100%;  position: absolute; z-index: 100;
 background: url('../../../images/branding-border.png') no-repeat 0 0; }
#content #main .widget-area ul { padding-left: 10px;  }

.dig-in a { font-size: 1em; }
