/*****************************************		
    		Backgrounds
******************************************/
html, body { font-family: Georgia, Times New Roman, Roman, Times, serif; }
.shadow { background: url('../images/shadow-bg.png') repeat-y top center; width: 985px; margin: 0 auto; }
/*.footer-shadow { background: url('../images/footer-shadow-bg.png') repeat-x top center; width: 960px; margin: 0 auto; height: 30px; padding: 0 0 6px 0; }*/
.footer-shadow { background: url('../images/footer-bottom.png') no-repeat top center; width: 960px; margin: 0 auto; height: 30px; padding: 0 0 30px 0; margin: 0 auto 30px; }
#footer { background: transparent;  }
#colophon { background: url('../images/footer-corner.png') no-repeat top center; width: 960px; margin: 0 auto; height: 30px; padding: 0 0 30px 0; }
body { background: #ABA398 url("../images/body-bg.jpg") repeat-x 50% 0; }
#access { background: transparent url("../images/access-bg.gif") repeat-x 50% 0;   }
#logo {background:url("../images/logo-bg.jpg") no-repeat scroll 0 0 transparent; }
#site-title a { background: url("../images/site-text.png") no-repeat;   }
#branding {background: #ABA398 url("../images/body-bg.jpg"); overflow: hidden; }
#pg-front .entry-content, 
#pg-front .entry-summary  { padding: 0; }
.sidebar li .widget-title { background: url("../images/title-bg.gif") top left repeat-x; height: 26px; } 
.menu ul li span { position: absolute; left: -999em; }
 
/* 	Columns - Set Up Column Sizes
---------------------------------------*/
#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper { width: 945px; } 
#pagewidth {} 
#access, div.menu, #colophon, #branding, #main  { margin: 0; padding: 0; } 

#content-body { background: url('../images/content-bg.gif') repeat-x;  }

#wrapper  { -  }
#pagewidth {   }
#header {  }
	#access {   }
	#branding {   }
	#branding img {   }
	#logo {  }
		#logo a	 { margin: 65px 0 0 20px }
		#logo  { }
	/*	Menu	*/
	#menu-footer ul li {   }
	#menu-footer ul li a {    }
#container {   }
#main {   }
	#content { }
	#index-blog #content .entry-title { }
	#index-blog .entry-contents { }
#footer { }
	#footer-colophon { }
#pg-front #primary { }
#pg-front #sidebar-front ul.xoxo { }
#access { }
	#access ul li { }
	#access ul li a { }
	#access ul li a:hover { }
#footer { }
	#colophon { }
	#footer li,
	#footer div, 
	#footer ul { }
	    #site-generator { }
	    #site-generator a { background: url('../images/globerunner.png') no-repeat top left; height: 21px;
		padding: 10px 0 3px 42px; }
			#site-generator a:hover, 
			#site-generator a:active { }
			#site-generator a.hover-colorblack:hover, 
			#site-generator a.hover-colorblack:active { color: #000; }
		#site-info { }	
	    #site-info a    { }
	    #site-title { }
	        #site-title span a { }
	    #site-title { }
			#site-title a { }
	        #site-title a span { }

/*****************************************		
    	Inside the Loop: .post/.entry
******************************************/
/*  .post
---------------------------------------*/
	.post {}
		.post hr {}
		.post h2, .post h2 a, .post h2 a:hover, .post h2 a:visited{}
	.post-header {}
		.post-header h2 {}
			.post-header h2 a {}
		.post-header .post-info {}
	.post-header .post-info span  {}
	.post-footer {}
		#postinfo, #postinfo a, #postinfo a:hover, #postinfo a:visited, 
		.post-byline {}
			.post-byline .post-byline_author,
			.post-byline .post-byline_first,
			.post-byline span, 
			.post-byline span a {}
			.post-byline span.post-byline_time {}
		.post-meta {}
				.post-meta .post-meta_tags {}
				.post-meta .post-meta_comments {}
					.post-meta_comments a {}
		#postinfo a, #postinfo a:hover, #postinfo a:visited, 
		div.post-metadata a, div.post-metadata a:hover, div.post-metadata a:visited, 
		div.post-metaedit a, div.post-metaedit a:hover, div.post-metaedit a:visited{}
		.single .post-metadata {}
		.single #comments {}

/*  .Entry (Inside Posts)
---------------------------------------*/	
.entry-contents h1 { font-size: 18px; }
.entry-contents h2 { font-size: 16px; }
.entry-contents h3 { font-size: 15px; }
.entry-contents h4 { font-size: 14px; }
.entry-contents h5 { font-size: 13px; }
.entry-contents h6 { font-size: 12px; }

	.entry-contents, 
	.entry-contents p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
	.entry-contents hr { width: 98%; padding-left: 1%; padding-right: 1%; }
.entry-title {}
	.entry-title a,
	.entry-title h1, .entry-title h2, .entry-title h3,
	.entry-title h1 a, .entry-title h2 a,
	.entry-title h3 a { }
	.entry-title a,
	.entry-title a:hover  { color: #000}
	.entry-title h1 { }
	.entry, .entry p {}
	.entry p a:visited, .entry p a, .entry p a:hover{}
	
	.narrowcolumn .post-metadata {}
	.thread-alt {}
	.thread-even {}
	.depth-1 {}
	.even, .alt {}
	body.page .entry-content { width: 650px; } 

/*  .upcoming - sidebar for events
---------------------------------------*/	
.eventsListWidget {   }
.eventsListWidget a,
.eventsListWidget a:link,
.eventsListWidget a:active { text-decoration: none; }
.eventsListWidget a:hover {  }
.eventsListWidget ul.upcoming { }
	.eventsListWidget ul.upcoming li {  }
		.eventsListWidget .upcoming .when {  }
		.eventsListWidget .upcoming .event { }
		.eventsListWidget .upcoming .loc { }
		.eventsListWidget .upcoming a.more-link { }
		.eventsListWidget .dig-in { }

/*		Search
 * ------------------------------------*/
#blog_search {}
	#blog_searchform {}
		#blog_searchform div input#s { 
			background: transparent; border: 0; text-align: right; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
			font-size: 10px; color: #606060; padding: 0 1px 0 0; width: 130px; margin: 0 7px 0 10px; float: left;}
		#blog_searchform div a {}
		#blog_searchform div input#s, #blog_searchform div a {}

/*		Menus					
 * ------------------------------------*/
#menu-sm { }
	#menu-sm ul { margin: 0; padding:88px 0 0 0;  }
		#menu-sm ul li a  { background: url('../images/sm-icons.png') no-repeat; float: left; }
		#menu-sm ul li,
		#menu-sm ul li a {  height: 27px; margin: 0; padding: 0; }
		#menu-sm ul li { display: inline; float: left; }
			#menu-sm ul li a { display: block; float: left; }
			#menu-sm ul li a:hover { cursor: pointer; }
			#menu-sm ul li a span { left: -999em; position: absolute; }
			#menu-sm ul li.facebook a { background-position: 0px 0px; width: 24px; }
			#menu-sm ul li.twitter a { background-position: -52px 0px;  width: 24px; }
			#menu-sm ul li.linkedin a { background-position: -24px 0px;  width: 27px; }
			#menu-sm ul li.youtube a { background-position: -81px 0px; width: 48px; }
#access ul li a {  }
#menu-access { height: 54px; }
	#menu-access ul { border-bottom: 0; }
#menu-access .sf-menu { height:30px; padding-bottom:11px;  border-right: 0 none;}
	ul#access-ul.sf-menu li { margin-bottom: 0; border-right:0 none;  }
	ul#access-ul.sf-menu li a:hover,
	ul#access-ul.sf-menu li a:active,
	ul#access-ul.sf-menu li.current_page_item a { background: #222;  color: #fff; }
	ul#access-ul.sf-menu li.current-menu-ancestor  { background: #343434; }
	ul#access-ul.sf-menu li a { margin-bottom: 0; padding-bottom:8px; padding-top:8px; }
	#menu-access .sf-menu ul { border-right: 0; top:51px }
	
/*****************************************		
    		Sidebar / Widgets 
******************************************/		
#main .sidebar ul ul { margin: 0; }

	.sidebar { }
	/*	List	*/
	.sidebar ul, 
	.sidebar ul li { list-style-type: none; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; 
		font-size: 12px; line-height:120%; }
	.sidebar  ul { margin:0; }
	.sidebar  ul li { margin: 0 0 6px 0; list-style: none; }
	/*	Sidebar Title	*/
	#content .widget-title { background: url('../images/widget-title-bg.gif') repeat; font-family:Georgia; font-size:22px; height:24px; 
		padding: 8px 0 12px 10px; color: #fff; font-weight: normal; letter-spacing: 0px;
		line-height: 150%;  }
	/*	Links	*/
	#content .sidebar a { color: #286411; text-decoration: underline;  }
	#content .sidebar a:hover { text-decoration: none; } 
	/*	Typography	*/
	.sidebar ul li.widget-container,
	.sidebar ul li.widget-container div.textwidget, 
	.sidebar ul li.widget-container .widget-container p  { line-height: 120%; }
	
	#content .widget-container { padding: 0 0 8px 0; margin: 0 0 10px 0; width: auto; }	
	#content .widget-container ul,
	#content .widget-container div.textwidget { width: 245px; padding-left: 10px; padding-right: 10px; }
	#content .widget-container h3 { font-size: 14px; font-family: georgia,times, times new roman, serif; margin: 0; }
	#content .widget-container h3.widget-title { font-size: 20px; }
	
/*	Widecolumn	*/
.wide .post{margin:0}
	.narrow .post-metadata{ padding-top:5px}
	.wide .post-metadata{ margin:30px 0}
	.wide .smallattachment{ text-align:center; float:left; width:128px; margin:5px 5px 5px 0px}
	.wide .attachment{text-align:center; margin:5px 0px}
	.post-metadata{clear:both}
.widget-title {  }	


#sidebar ul ul li:before{}

.entry ol{padding:0 0 0 35px; margin:0}
	.entry ol li{margin:0; padding:0}
.post-metadata ul, .post-metadata li{display:inline; list-style-type:none; list-style-image:none}

/*	#searchform <- Searchform.php
---------------------------------------*/
#searchform{text-align:left}
	#sidebar #searchform #s { border: 1px solid #ccc; }
	#sidebar #searchsubmit { /* padding:0; margin:0 */ }

.entry form{ /* This is mainly for password protected posts,makes them look better. */text-align:center }
select{ width:130px }


/*	Comments
---------------------------------------*/
.commentlist li, #commentform input, #commentform textarea{font:0.9em Arial,Helvetica,Sans-Serif}
	.commentlist li ul li{font-size:1em}
	.commentlist li{font-weight:bold}
		.commentlist li .avatar{float:right; border:1px solid #eee; padding:2px; background:#fff}
		.commentlist cite, 
		.commentlist cite a{font-weight:bold; font-style:normal; font-size:1.1em}
	.commentlist p{font-weight:normal; line-height:1.5em; text-transform:none}
#commentform p{font-family:Arial,Helvetica,Sans-Serif}
.commentmetadata{font-weight:normal}	
#comments_wrapper { float:right }
	#comments_wrapper a, #comments_wrapper a:hover, #comments_wrapper a:visited{text-decoration:none}
.commentlist{padding:0; text-align:justify; margin-right:15px}
	.commentlist li{margin:15px 0 10px; padding:5px 5px 10px 10px; list-style:none}
		.commentlist li ul li{margin-right:-5px; margin-left:10px}
	.commentlist p{margin:10px 5px 10px 0}
.children{padding:0}
#commentform input{width:170px; padding:2px; margin:5px 5px 1px 0}
	#commentform{margin:5px 10px 0 0}
	#commentform textarea{  width:98%; width:485px; padding:1%}
	#commentform #submit{margin:0 0 5px auto; float:right}
#respond{margin-right:15px}
	#respond:after{content:".";  display:block;  height:0;  clear:both;  visibility:hidden}
.alt{margin:0; padding:10px}

.single #comments_wrapper {display:none}

.post .post-edit span a {width: 40px; padding: 3px; text-align: center; border: 1px solid #eee;color: #777}
.post .post-edit span a:hover { background: #ffff00;  border: 1px solid #ffee00;  }

/*		Colors		*/
.ltgray { color: #a7a9ac; }
.grey { color: #ccc; }