/*
 * ==========================================================
 * Grid
 * ==========================================================
 */

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, 
.grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16 {
  display: inline;
  float: right;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.push-1, .pull-1, .push-2, .pull-2, .push-3, .pull-3, .push-4, .pull-4,
.push-5, .pull-5, .push-6, .pull-6, .push-7, .pull-7, .push-8, .pull-8,
.push-9, .pull-9, .push-10, .pull-10, .push-11, .pull-11, .push-12, .pull-12,
.push-13, .pull-13, .push-14, .pull-14, .push-15, .pull-15, .push-16, .pull-16 {
  position: relative;
}

/*
 * ==========================================================
 * Alpha - Omega
 * ==========================================================
 */

.alpha {
  margin-left: 0 !important;
}

.omega {
  margin-right: 0 !important;
}

/*
 * ==========================================================
 * Container
 * ==========================================================
 */

body {
  min-width: 1560px;
}

.container-16 {
  margin-left: auto;
  margin-right: auto;
  width: 1560px;
}

/*
 * ==========================================================
 * Columns
 * ==========================================================
 */

.container-16 .grid-1 {
  width:77px;
}

.container-16 .grid-2 {
  width:174px;
}

.container-16 .grid-3 {
  width:271px;
}

.container-16 .grid-4 {
  width:368px;
}

.container-16 .grid-5 {
  width:465px;
}

.container-16 .grid-6 {
  width:562px;
}

.container-16 .grid-7 {
  width:659px;
}

.container-16 .grid-8 {
  width:756px;
}

.container-16 .grid-9 {
  width:853px;
}

.container-16 .grid-10 {
  width:950px;
}

.container-16 .grid-11 {
  width:1047px;
}

.container-16 .grid-12 {
  width:1144px;
}

.container-16 .grid-13 {
  width:1241px;
}

.container-16 .grid-14 {
  width:1338px;
}

.container-16 .grid-15 {
  width:1435px;
}

.container-16 .grid-16 {
  width:1532px;
}


/*
 * ==========================================================
 * Prefix
 * ==========================================================
 */

.container-16 .prefix-1 {
  padding-left:97px;
}

.container-16 .prefix-2 {
  padding-left:194px;
}

.container-16 .prefix-3 {
  padding-left:291px;
}

.container-16 .prefix-4 {
  padding-left:388px;
}

.container-16 .prefix-5 {
  padding-left:485px;
}

.container-16 .prefix-6 {
  padding-left:582px;
}

.container-16 .prefix-7 {
  padding-left:679px;
}

.container-16 .prefix-8 {
  padding-left:776px;
}

.container-16 .prefix-9 {
  padding-left:873px;
}

.container-16 .prefix-10 {
  padding-left:970px;
}

.container-16 .prefix-11 {
  padding-left:1067px;
}

.container-16 .prefix-12 {
  padding-left:1164px;
}

.container-16 .prefix-13 {
  padding-left:1261px;
}

.container-16 .prefix-14 {
  padding-left:1358px;
}

.container-16 .prefix-15 {
  padding-left:1455px;
}


/*
 * ==========================================================
 * Suffix
 * ==========================================================
 */
.container-16 .suffix-1 {
  padding-right:97px;
}

.container-16 .suffix-2 {
  padding-right:194px;
}

.container-16 .suffix-3 {
  padding-right:291px;
}

.container-16 .suffix-4 {
  padding-right:388px;
}

.container-16 .suffix-5 {
  padding-right:485px;
}

.container-16 .suffix-6 {
  padding-right:582px;
}

.container-16 .suffix-7 {
  padding-right:679px;
}

.container-16 .suffix-8 {
  padding-right:776px;
}

.container-16 .suffix-9 {
  padding-right:873px;
}

.container-16 .suffix-10 {
  padding-right:970px;
}

.container-16 .suffix-11 {
  padding-right:1067px;
}

.container-16 .suffix-12 {
  padding-right:1164px;
}

.container-16 .suffix-13 {
  padding-right:1261px;
}

.container-16 .suffix-14 {
  padding-right:1358px;
}

.container-16 .suffix-15 {
  padding-right:1455px;
}


/*
 * ==========================================================
 * Push
 * ==========================================================
 */

.container-16 .push-1 {
  left:97px;
}

.container-16 .push-2 {
  left:194px;
}

.container-16 .push-3 {
  left:291px;
}

.container-16 .push-4 {
  left:388px;
}

.container-16 .push-5 {
  left:485px;
}

.container-16 .push-6 {
  left:582px;
}

.container-16 .push-7 {
  left:679px;
}

.container-16 .push-8 {
  left:776px;
}

.container-16 .push-9 {
  left:873px;
}

.container-16 .push-10 {
  left:970px;
}

.container-16 .push-11 {
  left:1067px;
}

.container-16 .push-12 {
  left:1164px;
}

.container-16 .push-13 {
  left:1261px;
}

.container-16 .push-14 {
  left:1358px;
}

.container-16 .push-15 {
  left:1455px;
}

/*
 * ==========================================================
 * Pull
 * ==========================================================
 */
.container-16 .pull-1 {
  left:-97px;
}

.container-16 .pull-2 {
  left:-194px;
}

.container-16 .pull-3 {
  left:-291px;
}

.container-16 .pull-4 {
  left:-388px;
}

.container-16 .pull-5 {
  left:-485px;
}

.container-16 .pull-6 {
  left:-582px;
}

.container-16 .pull-7 {
  left:-679px;
}

.container-16 .pull-8 {
  left:-776px;
}

.container-16 .pull-9 {
  left:-873px;
}

.container-16 .pull-10 {
  left:-970px;
}

.container-16 .pull-11 {
  left:-1067px;
}

.container-16 .pull-12 {
  left:-1164px;
}

.container-16 .pull-13 {
  left:-1261px;
}

.container-16 .pull-14 {
  left:-1358px;
}

.container-16 .pull-15 {
  left:-1455px;
}
